/* Override styles for loading screen */
body.loading-screen-body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: black !important;
  color: white !important;
  overflow: hidden !important;
  height: 100vh !important;
  width: 100vw !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

body.loading-screen-body * {
  font-family: "Web437_Cordata_PPC-400", monospace !important;
}

body.loading-screen-body #sketch-holder {
  z-index: 10;
}

body.loading-screen-body .enter-section {
  position: relative;
  z-index: 100;
}

body.loading-screen-body .neon-button {
  z-index: 1000;
  position: relative;
}
